* {
    padding: 0px;
    margin: 0px;
}

.heading {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    background-color: rgb(162, 225, 85);
}

#icon {
    height: 30px;
    width: 20px;
    padding-bottom: 0px;
    background-color: rgb(162, 225, 85);
}

nav {
    background-color: #494d60;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
}

nav a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: darkgoldenrod;
    font-size: 1.1em;
}

main {
    display: flex;
    height: 80vh;
    flex-direction: row;
}

section {
    height: 100%;
    width: 25%;
}

.leftContent {
    background-image: url("cheese.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mainContent {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("spring.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.rightContent {
    background-image: url("chicken.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form {
    border: 1px solid black;
    background-color: rgba(43, 76, 54, 0.7);
    height: 90%;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

textarea {
    border-radius: 10px;
    margin-top: 30px;
}

select {
    background-color: #494d60;
    color: white;
    width: 150px;
    height: 30px;
    font-size: large;
    border-radius: 10px;
}

.form p {
    font-size: larger;
    color: white;
    line-height: 50px;
    font-size: 24px;
}

button {
    background-color: darkblue;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 30px;
}

input {
    border-radius: 30px;
}

button:hover {
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line1 {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
}

.line2 {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.kathi {
    width: 210px;
    border-radius: 5px;
    text-align: center;
    margin-top: 25px;
}

.kathi img {
    width: 200px;
    height: 200px;
    /* border: 5px solid rgb(236, 183, 191); */
    border-radius: 50%;
}

.spring {
    width: 210px;
    border-radius: 5px;
    text-align: center;
    margin-top: 25px;
}

.spring img {
    width: 200px;
    height: 200px;
    /* border: 5px solid rgb(236, 183, 191); */
    border-radius: 50%;
}

.chicken {
    width: 210px;
    border-radius: 5px;
    text-align: center;
    margin-top: 25px;
}

.chicken img {
    width: 200px;
    height: 200px;
    /* border: 5px solid rgb(236, 183, 191); */
    border-radius: 50%;
}

.egg {
    width: 210px;
    border-radius: 5px;
    text-align: center;
    margin-top: 25px;
}

.egg img {
    width: 200px;
    height: 200px;
    /* border: 5px solid rgb(236, 183, 191); */
    border-radius: 50%;
}

.paneer {
    width: 210px;
    border-radius: 5px;
    text-align: center;
    margin-top: 25px;
}

.paneer img {
    width: 200px;
    height: 200px;
    /* border: 5px solid rgb(236, 183, 191); */
    border-radius: 50%;
}

.cheese {
    width: 210px;
    border-radius: 5px;
    text-align: center;
    margin-top: 25px;
}

.cheese img {
    width: 200px;
    height: 200px;
    /* border: 5px solid rgb(236, 183, 191); */
    border-radius: 50%;
}

.about {
    margin-left: 150px;
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
}

.about p a {
    text-decoration: none;
    color: goldenrod;
}